.card {
  display: flex;
  justify-content: space-evenly;
}

.card__first {
  width: 380px;
  height: 190px;
  border-radius: 11px;
  background-color: #e5e5e5;
  margin: 40px;
  padding: 8px;
}

.card__batch {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 15px;
}

.card__batch > p {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #2e2e2e;
}

.card__name {
  display: flex;
  padding-left: 35px;
  padding-top: 10px;
}

.card__name > p,
.card__students > p,
.card__upcoming > p {
  color: #515151;
  font-weight: 500;
  font-size: 16px;
  padding-top: 4px;
  padding-left: 10px;
}

.card__name > img {
  width: 28px;
  border-radius: 50%;
}

.card__students {
  display: flex;
  padding-left: 35px;
  padding-top: 10px;
}

.card__upcoming {
  display: flex;
  padding-left: 35px;
  padding-top: 10px;
}
